/* Display */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* .none {
  display: none;
} */

/* Colors */
.bg-clr {
  background-color: var(--bg-clr);
}

.bg-white {
  background-color: var(--clr-white);
}

.bg-filter_tablets {
  background-color: var(--clr-filter_tablets);
}

.bg-dark_grey {
  background-color: var(--clr-dark_grey);
}

.clr-primary {
  color: var(--clr-primary);
}

/* UI */
.jobs-buttons {
  outline: none;
  border: none;
  color: var(--clr-primary);
  font-weight: var(--fw-bold);
  padding: 0.5rem 0.6rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background 250ms ease-in, color 250ms ease-in;
}

.jobs-buttons:hover {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  transition: background 250ms ease-in, color 250ms ease-in;
}
